@import '../../sass/settings';

.signin-box {
  margin: 20px auto 0;
  width: calc(100% - 60px);
  @media #{$tablet}{
    max-width: 320px;
    margin: 20px 0 0 30px;
    position: relative;
  }
  form {
    fieldset {
      margin: 0 0 20px;
      label {
        @include montserrat($basic-white, 11px);
        margin-bottom: 5px;
        text-transform: uppercase;
        display: block;
      }
      input[type="text"],
      input[type="password"] {
        border: none;
        @include montserrat($basic-black, 11px);
        padding: 10px;
        width: 100%;
        border-radius: 8px;
        box-sizing: border-box;
      }
      button {
        @include montserrat-bold(rgba(0, 0, 0, 0.3), 16px);
        background: rgba(245, 245, 245, 0.5);
        padding: 10px;
        width: 100%;
        border-radius: 8px;
        box-sizing: border-box;
        border: none;
      }
    }
  }
  .footnote {
    @include merriweather-light($basic-white, 12px);
    margin: 20px 0 0;
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 50%;
    width: 100%;
    margin: 0 0 0 -50%;
    @media #{$tablet}{
      bottom: -60px;
    }
    a {
      @include montserrat-bold(rgba(0, 0, 0, 0.3), 12px);
      display: block;
      margin: 5px 0 0 0;
    }
    a:hover {
      @include montserrat-bold(rgba(0, 0, 0, 0.5), 12px);
    }
  }
  .blokk {
    font-family: "BLOKK";
    font-size: 30px;
    color: rgba(0,0,0,0.5);
    position: absolute;
    top: 30px;
    right: 30px;
  }
}